POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=prisma_db


DATABASE_URL="postgresql://postgres:postgres@localhost:5428/prisma_db"

NODE_ENV=development

JWT_SECRET=chave_BEM_longa_aleatoria_aqui
JWT_EXPIRES_IN=7d
